footer {
  background-image: url(./assets/images/dark-wood.png);
  height: 400px;
  p {
    font-family: $title_font;
  }
}

.footContainer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 350px;
}

.textwidget {
  p {
    font-family: $description_font;
    font-size: 16px;
    color: white;
    padding-bottom: 20px;
  }
}

#text-5 {
  @include footerInfo;
}

#text-6 {
  @include footerInfo;
}

#text-7 p {
  display: flex;
  justify-content: center;
  padding-top: 350px;
  font-family: $title_font_sub;
}

#media_image-4 {
  z-index: 1;
  img {
    max-width: 100%;
    height: auto;
    width: 400px;
    grid-column: 5/6;
    margin-top: 100px;
    margin-left: 200px;
    filter: brightness(100%);
  }
}
