.journalLayout{
    position: relative;
    grid-column: 1/2;
h2{
    position: absolute;
    color: white;
    background: #248A83;
    width: 300px;
    padding-right: 70px;
    padding-left: 10px;
    font-family: $title_font_sub;
    margin-top: 30px;
}
img {
    filter: brightness(100%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p {
    font-family: $description_font;
}
}

.posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 100px;
}
.sidebar {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-left: 100px;
}

.widget-hours1 {
    font-family: $title_font;
}

#text-3 p {
    color: black;
    font-family: $title_font_sub;
}

#text-4 p {
    color: black;
    font-family: $title_font_sub;
}