#shopTitle {
  height: 100px;
  margin-top: 100px;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  height: 250px;
  grid-column-gap: 30px;
  justify-items: center;
  img {
    width: 200px;
    height: 200px;
    border-bottom: solid 5px #e1e1e1;
  }
}

.shopContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #248a83;
  height: 50px;
  border-bottom: solid #e1e1e1;
  margin-left: 90px;
  margin-right: 90px;
  p {
    padding-right: 30px;
    padding-left: 30px;
    
  }
}

// .shopItems p{
//   height: 50px;
//   margin-bottom: 20px;
//   border: solid #e1e1e1;
// }

