// .main-menu{
//   display: flex;
//   justify-content: flex-end;
//   position: fixed;
//   width: 100%;
//   font-family: $title_font_sub;

// }
// a {
//   color: #248A83;
//  font-family: $title_font;
// }

#shopTitle {
  height: 100px;
  margin-top: 100px;
  font-family: $title_font;
}
.shopItems {
  margin-bottom: 20px;
  border: solid 1px #e1e1e1;
}
.productGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  height: 250px;
  grid-column-gap: 30px;
  justify-items: center;
  img {
    width: 250px;
    height: 250px;
    border-bottom: solid 5px #e1e1e1;
    filter: brightness(100%);
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }
}

.shopContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  border-bottom: dotted #e1e1e1;
  margin-left: 160px;
  margin-right: 160px;
}
.shopContainer p {
  padding-right: 30px;
  padding-left: 30px;
  color: #248a83;
  font-family: $title_font_sub;
  font-size: 16px;
}

.priceCont {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

//SINGLE PRODUCT PAGE

.proGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  margin-top: 50px;
  margin-right: 60px;
  margin-left: 60px;
}
.proImg img {
  filter: brightness(100%);
  width: 600px;
  height: 400px;
  object-fit: cover;
  margin-left: 70px;
  margin-top: 100px;
}

.proContainer {
  display: flex;
}

.proInfo {
  margin-left: 50px;
  margin-right: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 70px;

  h2 {
    font-family: $title_font;
    font-size: 40px;
    text-transform: uppercase;
    color: #d99054;
  }
  h3 {
    font-family: $title_font_sub;
    font-size: 25px;
  }
  p {
    font-family: $description_font;
    font-size: 12px;
    line-height: 2;
  }
}
